
$heading : 'Roboto', sans-serif;
$paragraph : 'Open Sans', sans-serif;
$link : 'Encode Sans', sans-serif;

$starWhite : #f4f2ff;
$black: #212F3D;
$grey: #808B96;
$blue: #1A63F8;
$green: #17A589;
$purple: #8E44AD;
$red: #C61F63;

$linearGradient: linear-gradient((45deg, $blue 0%, #1D76FB 100%));
// $linearGradient: linear-gradient((45deg, #16A085 0%, #58D68D 100%));

$extraLarge: 7rem;
$large: 3rem;
$medium: 2.4rem;
$small: 1.8rem;
