
#header{
  min-height: 100vh;
  background: linear-gradient(-45deg, white 50%, $starWhite 50%);
  padding: 2% 4%;
  color: $black;
}

.nav-toggle{
  display: none;
}

.header-part1{
  position: relative;
  font-size: $medium;
  font-weight: 300;

  #nav{

    ul li{
      display: inline-block;
      padding: 1rem 1rem 1rem 0rem;
      a{
        color: $black;
        text-decoration: none;
        cursor: pointer;
        font-family: $link;
        font-size: $small;
        padding: 0.3rem 0.8rem;
        transition: color 0.3s ease;
      }
    }
  }

  .logo{
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  
    &::after{
      @include logo-pseudo();
      bottom: 0;
      right: 0;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      border-bottom-right-radius: 2px;
    }
    &::before{
      @include logo-pseudo();
      top: 0;
      left: 0;
      border-top: 2px solid $black;
      border-left: 2px solid $black;
      border-top-left-radius: 2px;
    }
    &:hover::after{
      @include logo-hover;
    }
    &:hover::before{
      @include logo-hover;
    }
  }
}

.header-part2{
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  h1{
    font-family: $heading;
    font-size: $extraLarge;
    font-weight: 500;
  }
  p{
    font-size: $large;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:768px){

  .header-part1{
    #nav{
      position: fixed;
      background: $black;
      color: $starWhite;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;   

      .nav-list {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .nav-link {
          color: inherit;  
          font-size: $large;
        }
  
        .nav-link:hover {
          color: $grey;
        }
      }
    }
  }

  .nav-toggle {
    display: inline-block;
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 3rem;
    top: 3rem;
    z-index: 1000;

    .hamburger {
      display: block;
      position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
      background: $black;
      width: 3.5rem;
      height: 0.3rem;
      border-radius: 1rem;
      transition: transform 250ms ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
    }

    .hamburger::before { top: 0.8rem; }
    .hamburger::after { bottom: 0.8rem; }
  }

  .nav-open .header-part1 #nav {
    transform: translateX(0%);
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .hamburger {
    transform: rotate(.625turn);
    background-color: $starWhite;
  }

  .nav-open .hamburger::before {
    transform: rotate(89deg) translateX(-7px);
    background-color: $starWhite;
  }

  .nav-open .hamburger::after { opacity: 0; }
  
}
